<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Foo Share</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
        </ul>
        <div class="navbar-form pull-right">
          <% if current_user %>
              <span style="color: #ffffff;">Signed in as <%= image_tag("http://graph.facebook.com/#{current_user.uid}/picture") if current_user.facebook_user? %> <strong><%= current_user.name_or_email %></strong>&nbsp;</span>
              <%= link_to "Sign out", signout_path, :class => "btn" %>
          <% end %>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>